/* Taken from the GOV.UK design system CSS and customised */
.visually-hidden {
  position: absolute !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  border: 0 !important;
  white-space: nowrap !important;
  display: none;
}
